# These shouldn't be needed, as Safari.cbp should generate them.
*Safari.depend
*Safari.layout
Safari/bin/*
Safari/obj/*
Safari/inputs/*
gui/build/*
gui/dist/*
gui/*.spec
gui/*.txt
gui/*.exe
misc/*.input
gui/*.input
gui/*.param
gui/*.data
gui/*.undata
*.xyz
*/__pycache__/*
*.vs*